on:
  pull_request:
    types:
      - opened
      - reopened
    branches: 
      - master

name: Create Release

jobs:
  build:
    name: Run tests and builds
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1
      with:
        flutter-version: '1.22.4'
    - run: flutter pub get
    - run: flutter test
    - run: ENVFILE=.env.test flutter build apk
   # - run: flutter build ios --release --no-codesign
   
    - uses: actions/upload-artifact@v2
      with:
        name: app-release.apk
        path: ./build/app/outputs/apk/release/app-release.apk

  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: bhowell2/github-substring-action@v1.0.0
        id: version
        with:
          value: ${{ github.ref }}
          index_of_str: release/

      - name: Download artifact
        id: download
        uses: actions/download-artifact@v2
        with:
          name: app-release.apk

      - name: Create Release
        uses: meeDamian/github-release@2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.version.outputs.substring }}
          name: ${{ steps.version.outputs.substring }}
          prerelease:  true
          gzip: true
          files: >
            ${{steps.download.outputs.download-path}}/app-release.apk

  automerge:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@v0.12.0"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_LABELS: "release"
          MERGE_REMOVE_LABELS: ""
          MERGE_METHOD: "squash"
          UPDATE_METHOD: "rebase"
            

  sync-branch:
    runs-on: ubuntu-latest
    needs: automerge
    steps:
      - uses: actions/checkout@master

      - name: release -> develop
        uses: devmasx/merge-branch@v1.3.1
        with:
          type: now
          target_branch: develop
          github_token: ${{ github.token }}

