name: Integrate Changes into develop
on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
    branches: 
      - develop
  check_suite:
    types:
      - completed
  status: {}
  
  
jobs:
  # build and test
  build:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1
      with:
        flutter-version: '1.22.4'
    - run: flutter pub get
    - run: flutter test
    - run: ENVFILE=.env.test flutter build apk

  automerge:
    name: Merges PR into develop
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@v0.12.0"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_LABELS: ""
          MERGE_REMOVE_LABELS: ""
          MERGE_METHOD: "squash"
          UPDATE_METHOD: "merge"
